<main>
  @if (showInlineScroller())
  {
  <div class="main-margin left">
    <ng-container [ngTemplateOutlet]="verticalScroller" />
  </div>
  }
  @else
  {
    <app-side-drawer #sideDrawer>
      <ng-container [ngTemplateOutlet]="verticalScroller" />
    </app-side-drawer>
  }
  <div class="panel">
    <div class="router-container" [class.fade-out]="fadeOut"><router-outlet /></div>
  </div>
  <div class="main-margin right desktop-only">Right</div>
</main>

<ng-template #verticalScroller>
  <app-vertical-scroller [numberVisibleItems]="4" [items]="skillItems" (itemSelected)="skillSelected($event)" />
</ng-template>