@use '../../../variables';
@use '../../../helpers';

:host {
    flex-grow: 1;
    min-height: 0;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100svh - 12svh - 6rem);
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$mobile-breakpoint) {
        flex-direction: row;
    }

    .main-margin {
        width: 0;
        height: 0;
        position: relative;

        @media (min-width: variables.$mobile-breakpoint) {
            width: 25%;
            height: 100%;

            &.left, &.right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &.right {
                overflow-x: hidden;
                overflow-y: auto;
            }
        }

        .left-panel-title {
            position: absolute;
            top: -1.75rem;
            font-size: helpers.get-font-size(1.5);
        }
    }

    .panel {
        background: light-dark(var(--color-neutral-500), var(--color-neutral-900));

        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: 95%;

        border: 2px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
        border-radius: 6px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

        box-sizing: border-box;

        .router-container {
            opacity: 1;
            transition: opacity var(--main-panel-fade-timing, 250ms);
            &.fade-out {
                opacity: 0;
            }
            height: 100%;
        }

        @media (min-width: variables.$mobile-breakpoint) {
            width: 50%;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

            @media (prefers-color-scheme: dark) {
                box-shadow: 1px 2px 4px rgba(81, 81, 81, 0.4);
            }
        }
    }
}