@use '../../../../helpers' as h;
@use '../../../../variables' as v;

:host {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    box-sizing: border-box;
    gap: 1rem;

    width: 100%;
    height: 100%;

    color: v.$colorPrimaryInv;

    .bordered {
        border: 2px v.$colorPrimaryInv;
        border-radius: 6px;
        border-style: inset;
    }

    .title {
        font-size: h.get-font-size(1.6);
    }

    .page-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        background-color: v.$colorPrimary;
        height: 10%;
        padding-left: 2rem;

        .title {
            font-size: h.get-font-size(2);
        }

        .skill-logo {
            width: auto;
            height: 40px;
            filter: drop-shadow(0px 0px 2px v.$colorPrimaryInv);
        }
    }

    .page-body {
        flex-grow: 1;
        width: 100%;
        background-color: v.$colorPrimary;
    }
}