@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

hr {
    width: 80%;
}

.image-row {
    display: flex;
    align-items: center;

    mat-icon {
        width: 64px;
        height: 64px;
    }

    .image {
        height: 150px;
        width: auto;
        object-fit: contain;
        padding: 0 2rem;
        @media (prefers-color-scheme: light) {
            background-color: v.$colorPrimaryInv;
        }

        img {
            height: 150px;
            width: auto;
            object-fit: contain;
        }
    }

    @media (prefers-color-scheme: light) {
        .badge-container {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: v.$colorPrimaryInv;
        }
    }    
}

.title {
    font-size: h.get-font-size(1.25);
    @media (min-width: v.$mobile-breakpoint) {
        font-size: h.get-font-size(1.5);
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;   

    .detail-row {
        display: flex;
        align-items: center;
        gap: 1rem;

        .award-list {
            display: flex;
            flex-direction: column;
        }
    }

    @media (min-width: v.$mobile-breakpoint) {
        width: 80%;
    }
}

.description {
    width: 95%;
    text-align: justify;

    @media (min-width: v.$mobile-breakpoint) {
        width: 80%;
    }
}