@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroller-container {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow-y: hidden;    

    .scroller {
        height: 100%;
        width: 100%;
        position: relative;
        top: calc(-100% / var(--num-visible-items) + var(--gap-in-percent) / 2);
        box-sizing: border-box;
        gap: var(--gap-in-percent);

        display: flex;
        flex-direction: column;
    }
}

.item-container {
    width: 100%;
    height: calc(100% / var(--num-visible-items) - var(--gap-in-percent));
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: relative;

    .mobile-title {
        color: v.$colorPrimaryLight;
    }

    @media (h.is-not-mobile()) {
        gap: 0;
    }
    
    img, mat-icon {
        width: auto;        
        height: 100%;
        max-height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        cursor: pointer;

        filter: drop-shadow(0 0 2px light-dark(black, white)) brightness(0.9);
        transform: scale(1);
        transition: filter 0.3s, transform 0.3s;

        &:hover {
            filter: drop-shadow(0 0 3px light-dark(black, white)) brightness(1.3);
            transform: scale(1.15);
        }
    }

    .tooltip-container {
        position: absolute;
        left: 0;
        width: 33%;
        text-wrap: wrap;

        display: flex;
        justify-content: end;
        align-items: center;

        opacity: 0;
        transition: opacity 0.3s;

        .tooltip {
            text-align: end;
            font-size: h.get-font-size(1.5);
        }

        &.is-visible {
            opacity: 1;
        }
    }
}

.arrow-container {
    width: 100%;
    height: 5%;
    
    display: grid;
    place-items: center;

    .arrow {
        width: 30%;
        height: auto;
        display: grid;
        place-items: center;
        opacity: 1;
        transition: opacity 0.3s ease;        

        mat-icon {
            cursor: pointer;
            transform: scaleX(3) scaleY(2);
        }
        
        &.flipped {
            transform: rotate(180deg);
        }
    }
}