@if(canScroll)
{
<ng-container [ngTemplateOutlet]="verticalScrollerArrow" [ngTemplateOutletContext]="{ direction: 'up' }" />
}

<div class="scroller-container" (wheel)="wheelScroll($event)">
  <div #scroller class="scroller">
    @for(item of (visibleItems$ | async); track item.visualId; let index = $index)
    {
      <ng-container [ngTemplateOutlet]="verticalScrollerItem" [ngTemplateOutletContext]="{ item, index }" />
    }
  </div>  
</div>

@if(canScroll)
{
<ng-container [ngTemplateOutlet]="verticalScrollerArrow" [ngTemplateOutletContext]="{ direction: 'down' }" />
}

<!-- Template for each scroller item -->
<ng-template #verticalScrollerItem let-item="item" let-index="index">
  <div #scrollerItem class="item-container" (click)="itemSelected.emit(item)">
    @if (item.imageUrl)
    {
      <img [src]="item.imageUrl" [alt]="item.title" (pointerenter)="!isMobile() && hoveredIndex = index" (pointerleave)="!isMobile() && hoveredIndex = null">
    } @else if (item.svgIcon)
    {
      <mat-icon [svgIcon]="item.svgIcon" (pointerenter)="!isMobile() && hoveredIndex = index" (pointerleave)="!isMobile() && hoveredIndex = null"></mat-icon>
    }    
    <div class="tooltip-container" [class.is-visible]="hoveredIndex === index">
      <div class="tooltip">{{ item.title }}</div>
    </div>
    @if (isMobile()) { <div class="mobile-title">{{ item.title }}</div> }
  </div>
</ng-template>

<!-- Template for scroll arrow -->
<ng-template #verticalScrollerArrow let-direction="direction">
  <div class="arrow-container">
    <div class="arrow" [class.flipped]="direction == 'down'" (click)="arrowScroll(direction)">
      <mat-icon svgIcon="arrow-up" />
    </div>
  </div>
</ng-template>