:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroller-container {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow-y: hidden;
    padding: 3.75% 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 7.5%;
}

.item-image {
    width: 100%;
    height: calc(100% / 4 - 7.5%);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        width: auto;        
        height: 100%;
        max-height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    
}

.arrow-container {
    width: 100%;
    height: 5%;
    
    display: grid;
    place-items: center;

    .arrow {
        width: 30%;
        height: auto;
        display: grid;
        place-items: center;
        opacity: 1;
        transition: opacity 0.3s ease;

        mat-icon {
            cursor: pointer;
            transform: scaleX(3) scaleY(2);
        }
        
        &.flipped {
            transform: rotate(180deg);
        }

        &.disabled {
            opacity: 0.3;

            mat-icon {
                cursor: default;
            }
        }
    }
}