@if(canScroll)
{
<ng-container [ngTemplateOutlet]="verticalScrollerArrow" [ngTemplateOutletContext]="{ disabled: false, direction: 'up' }" />
}

<div class="scroller-container" (wheel)="wheelScroll($event)">
  <div #scroller class="scroller">
    <ng-container [ngTemplateOutlet]="verticalScrollerItem" [ngTemplateOutletContext]="{ item: previousItem$ | async }" />
    @for(item of (visibleItems$ | async); track item)
    {
      <ng-container [ngTemplateOutlet]="verticalScrollerItem" [ngTemplateOutletContext]="{ item }" />
    }
    <ng-container [ngTemplateOutlet]="verticalScrollerItem" [ngTemplateOutletContext]="{ item: nextItem$ | async }" />
  </div>  
</div>

@if(canScroll)
{
<ng-container [ngTemplateOutlet]="verticalScrollerArrow" [ngTemplateOutletContext]="{ disabled: false, direction: 'down' }" />
}

<!-- Template for each scroller item -->
<ng-template #verticalScrollerItem let-item="item">
  <div #scrollerItem class="item-container">
    <img [src]="item.imageUrl" [alt]="item.title" (pointerenter)="itemHoverChange(item, 'enter')" (pointerleave)="itemHoverChange(item, 'leave')">
    <div class="tooltip-container" [class.is-visible]="item.hovered">
      <div class="tooltip">{{ item.title }}</div>
    </div>
  </div>
</ng-template>

<ng-template #verticalScrollerArrow let-direction="direction" let-disabled="disabled">
  <div class="arrow-container">
    <div class="arrow" [class.flipped]="direction == 'down'" [class.disabled]="disabled" (click)="scroll(direction)">
      <mat-icon svgIcon="arrow-up" />
    </div>
  </div>
</ng-template>