@use '../../../../helpers' as h;

:host {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    .page-header {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .title {
            font-size: h.get-font-size(2);
        }

        .skill-logo {
            width: auto;
            height: 40px;
        }
    }
}