footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    box-sizing: border-box;

    hr {
        width: 50%;
        margin: 0;
    }
}