footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    box-sizing: border-box;

    hr {
        width: 50%;
        margin: 0;
    }

    .socials-row {
        display: flex;
        justify-content: center;
        height: 28px;
        width: 100%;
        gap: 1rem;

        .social-link {
            height: 100%;
            width: auto;
            object-fit: contain;

            img {
                object-fit: contain;
                height: 100%;
                width: auto;
            }

            @media (prefers-color-scheme: light) {
                background-color: v.$colorPrimaryDark;
            }
        }
    }
}