@use '../../../../variables' as v;
@use '../../../../helpers' as h;

.wrapper {
    background-color: v.$colorPrimary;    

    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid var(--color-neutral-700);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        color: v.$colorPrimaryInv;
    }
    
    .header {
        height: calc(5% + 1rem);
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        width: 100%;
        display: flex;
        justify-content: end;
        border-bottom: 2px solid var(--color-neutral-700);

        mat-icon {
            height: 100%;
            width: auto;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
        gap: 1.5rem;

        .title {
            font-size: h.get-font-size(2.25);
        }

        .my-logo {
            height: 75px;
            width: auto;
            object-fit: contain;

            img {
                height: 75px;
                width: auto;
                object-fit: contain;

                filter: 
                    drop-shadow(1px 0 0 v.$colorPrimaryLight) 
                    drop-shadow(-1px 0 0 v.$colorPrimaryLight) 
                    drop-shadow(0 1px 0 v.$colorPrimaryLight) 
                    drop-shadow(0 -1px 0 v.$colorPrimaryLight);
             }
        }
    }

    button {
        width: 100%;
        height: 100%;
        font-size: h.get-font-size(1.25);
        color: v.$colorPrimaryInv;
        background-color: v.$colorPrimary;
        border: none;
        border-radius: 4px;
        filter: brightness(1);
        transition: filter 0.3s;

        cursor: pointer;

        &:hover {
            filter: brightness(1.33);
        }
    }
}