<div class="content">
@let _project = currentProject();
@if (!!_project)
{
  <div class="top-row">
    @if (_project.basicInfo && !isMobile())
    {
      <div class="floating-basic-info">
        <div class="basic-info-container"><app-project-basic-info [basicInfo]="_project.basicInfo" /></div>
      </div>
    }
    <div class="top-center">
      <div class="image-wrapper">
        @if(!!_project.imageUrl){ <img [src]="_project.imageUrl" [alt]="_project.title"> }
        @else if(!!_project.svgIcon) { <mat-icon [svgIcon]="_project.svgIcon" /> }
      </div>
      <div class="title">{{ _project.title }}</div>
    </div>
    @if (!isMobile()) { <div class="top-right"></div> }
  </div>
  <hr>
  @if (_project.basicInfo && isMobile())
  {
    <div style="width: 80%;">
      <app-project-basic-info [basicInfo]="_project.basicInfo" />
    </div>    
  }
  <div class="skill-row">
    @for (skill of _project.skills; track skill.id)
    {
      <div class="skill-wrapper" [class.selected]="selectedSkillId == skill.id" (click)="viewSkill(skill.id)">
        @if (!!skill.imageUrl) { <img [src]="skill.imageUrl"> }        
      </div>
    }
  </div>
  <hr>
  <div class="description" [innerHTML]="_project.description"></div>
}
</div>