@use '../../../../helpers' as h;
@use '../../../../variables' as v;

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 0;
    position: relative;

    .top-row {
        height: 100%;
        width: 100%;
        display: flex;
        
        .top-center {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .floating-basic-info {
        width: 25%;
        height: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        display: grid;
        place-items: center;

        background-color: rgba(v.$colorHighlight, 0.15);
        border-radius: 6px;
        border: 1px solid v.$colorHighlight;

        .basic-info-container {
            width: 80%;
        }
    }

    .top-right {
        width: 25%;
        height: 100%;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;

        img, mat-icon {
            width: 25%;
            height: auto;
        }
    }

    .title {
        font-size: h.get-font-size(2);
    }

    hr {
        width: 80%;
        background-color: v.$colorPrimaryInv;
        margin: 0;
    }

    .description {
        width: 90%;
        box-sizing: border-box;
        font-size: h.get-font-size(1.25);
        line-height: 1.33;
        font-weight: 300;        
    }

    .skill-row {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 80%;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 3rem;
        height: calc(42px * 1.33);
        padding: 0.75rem 0 ;

        @media (min-width: v.$mobile-breakpoint) {
            justify-content: center;
        }

        .skill-wrapper {
            height: 42px;
            width: auto;
            object-fit: contain;        
            cursor: pointer;
            transform-origin: center;
            transform: scale(1);
            filter: brightness(1);
            transition: filter 0.3s, transform 0.3s;
            z-index: 1;

            $shadowColor: light-dark(rgba(v.$colorPrimaryDark, 0.5), rgba(v.$colorPrimaryLight, 0.75));

            &:hover, &.selected {
                filter: brightness(1.33);
                transform: scale(1.33);

                img {
                    filter: drop-shadow(0 0 1px $shadowColor);
                }
            }

            &.selected { pointer-events: none; }

            img {
                height: 42px;
                width: auto;
                object-fit: contain;
            }
        }
    }
}