<header>
  <div class="panel">
    @if (!isMobile())
    {
    <div class="image-wrapper">
      <img src="assets/images/cc_logo_transparent.png" alt="Logo">
    </div>
    }    
    <div class="layout-wrapper">
      <div class="title header-font">{{ profileTitle }}</div>
      @if (isMobile())
      {
      <div class="subtitle">
        <div class="row-space-between">
          <div>{{ profileSubtitleParts[0] }}</div><div>|</div><div>{{ profileSubtitleParts[1] }}</div>
        </div>
        <div class="row-space-between">
          <div>{{ profileSubtitleParts[2] }}</div>
        </div>
      </div>
      <div class="kebab-container">
        <app-header-menu [menuItems]="menuItems" (menuItemSelected)="headerMenuItemSelected.emit($event)" />
      </div>
      }
      @else
      {
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="subtitle desktop-only">
          <div class="row-space-between">
            @for(profileSubtitlePart of profileSubtitleParts; track profileSubtitlePart; let last = $last)
            {
              <div>{{ profileSubtitlePart }}</div>
              @if(!last)
              {
                <div>|</div>
              }
            }
          </div>
        </div>
        <app-header-menu [menuItems]="menuItems" (menuItemSelected)="headerMenuItemSelected.emit($event)" />
      </div>      
      
      }
    </div>    
    <!-- <div class="language-selection"><div class="fi fi-us"></div></div> -->
  </div>
</header>