@use '../../../helpers';
@use '../../../variables';

header {
    width: 100%;
    height: 14svh;    

    display: flex;
    justify-content: center;
    align-items: center;

    .panel {
        background: linear-gradient(
            to bottom right,
            light-dark(var(--color-neutral-500), var(--color-neutral-900)) 60%,
            light-dark(var(--color-neutral-400), var(--color-neutral-800))
        );

        width: 100%;
        height: 100%;
        
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        box-sizing: border-box;

        .layout-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: helpers.get-font-size(2);
            letter-spacing: 0.1rem;
        }

        .subtitle {
            font-size: helpers.get-font-size(1);
            font-weight: 300;
            width: 100%;
            padding: 0 1rem;
            box-sizing: border-box;                    

            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            color: light-dark(helpers.lighten-color(variables.$colorPrimaryDark, 30), helpers.darken-color(variables.$colorPrimaryLight, 10));

            .row-space-between {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
        }
        
        .language-selection {
            position: absolute;
            top: 0;
            right: 3%;
            
            .fi {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        @media (min-width: variables.$mobile-breakpoint) {
            width: 50svw;
            height: 90%;
            padding: 0 1.5rem;
            
            align-items: start;            

            border: 2px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
            border-radius: 6px;

            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);            

            @media (prefers-color-scheme: dark) {
                box-shadow: 1px 2px 4px rgba(81, 81, 81, 0.4);
            }

            .image-wrapper {
                flex-grow: 1;
                height: 100%;

                img {
                    max-height: 100%;
                    object-fit: contain;
                    filter: drop-shadow(0px 0px 1px light-dark(transparent, variables.$colorPrimaryLight));
                }
            }

            .layout-wrapper {
                align-items: start;
            }

            .title {
                font-size: helpers.get-font-size(2.5);
                letter-spacing: 0.25rem;
            }

            .subtitle {
                font-size: helpers.get-font-size(1.35);
                letter-spacing: 0.1rem;
                flex-direction: row;
                padding: 0.25rem 1rem;
                gap: 0;
                border-radius: 6px;
                border: 1px solid light-dark(helpers.darken-color(var(--color-neutral-400), 15), helpers.lighten-color(var(--color-neutral-800), 15));

                background-color: light-dark(helpers.darken-color(var(--color-neutral-400), 7), helpers.lighten-color(var(--color-neutral-900), 7));

                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
                width: auto;

                .row-space-between {
                    justify-content: start;
                    gap: 1.5rem;
                }
            }

            .language-selection {
                right: 5%;

                .fi {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}