@use '../../../../helpers' as h;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    p {
        line-height: 1.33;
        font-size: h.get-font-size(1.25);
        font-weight: 300;
        text-align: justify;
    }
}

.title {
    font-size: h.get-font-size(2);
}

.photo-container {
    width: 175px;
    height: 175px;
    min-height: 175px;
    border-radius: 9999px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-position: center 15%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        filter: grayscale(15%);
    }
}