@use '../../../../variables' as v;

:host {
    width: 100%;
    height: 100%;
}

.main-container {
    background-color: v.$colorPrimary;
    display: grid;
    place-items: center;
    border: 1px solid var(--color-neutral-600);

    .header {
        height: 36px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1rem;
        border-bottom: 1px solid var(--color-neutral-600);

        mat-icon {
            width: 32px;
            height: 32px;
        }
    }

    mat-dialog-content {
        color: v.$colorPrimaryInv;
    }
}