@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    --branch-vertical-width: 8px;        
    --branch-vertical-height: 90px;
    --branch-horizontal-height: 7px;
    --branch-horizontal-width: 33%;
    --fill-color: var(--color-neutral-500);

    --transition-duration: 0.15s;
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: h.get-font-size(1.5);
    margin-bottom: 1rem;
}

.main-container {
    margin-top: 2rem;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    position: relative;
}

.timeline-container .branch-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    pointer-events: none;

    .vertical-pipe {
        width: var(--branch-vertical-width);
        background-color: v.$colorPrimaryDark;

        .fill {
            width: 100%;
            transition: height var(--transition-duration) var(--transition-duration);
            background-color: var(--color-highlight-500);
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;

            &.selected {
                z-index: 5;
                transition: height var(--transition-duration) 0s;
            }
        }
    }

    .horizontal-pipe {
        width: var(--branch-horizontal-width);
        height: var(--branch-horizontal-height);
        position: relative;        
        background-color: v.$colorPrimaryDark;
        left: calc((var(--branch-horizontal-width) / 2) - (var(--branch-vertical-width) / 2));
        pointer-events: all;

        &.left {
            left: unset;
            right: calc((var(--branch-horizontal-width) / 2) - (var(--branch-vertical-width) / 2));
        }

        .fill {
            width: 0;
            position: relative;
            top: 0;
            left: 0;
            transition: width var(--transition-duration) 0s;
            background-color: var(--color-highlight-500);
            height: 100%;
            z-index: 1;

            border-bottom-left-radius: 6px;

            &.selected {
                width: 100%;
                transition: width var(--transition-duration) var(--transition-duration);
            }
        }

        &.left .fill {
            position: absolute;
            right: 0;
            left: auto;

            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 0;
        }
    }
}

.timeline-node {
    width: 21%;
    padding: 0.67rem 1rem;
    box-sizing: border-box;
    border: 1px solid v.$colorPrimaryInv;
    border-radius: 6px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-image:
    linear-gradient(rgba(0, 0, 0, 0.67) 1px, transparent 1px),
    linear-gradient(to right, rgba(0, 0, 0, 0.67) 1px, transparent 1px);

    background-size: 2px 2px;
    
    transition: box-shadow 0.15s, transform 0.15s, filter 0.15s;
    filter: brightness(0.9);
    transform: scale(1);
    transform-origin: center;

    @media (min-width: v.$mobile-breakpoint) {
        width: 10%;
        padding: 0.67rem 1rem;
        box-sizing: border-box;
    }

    &.focus {
        filter: brightness(1.33);
        
        @media (min-width: v.$mobile-breakpoint) {
            transform: scale(1.33);
        }
    }

    .image-container {
        height: auto;
        width: 100%;
        object-fit: contain;    

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .badge-icon {
        position: absolute;
        top: calc(var(--timeline-node-badge-size) / -2);
        right: calc(var(--timeline-node-badge-size) / -2);
        border-radius: 9999px;
        overflow: hidden;
        aspect-ratio: 1 / 1;

        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
}