@use '../../../../helpers' as h;
@use '../../../../variables' as v;

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .skill-level-container {
            mat-icon {
                width: 36px;
                height: 36px;
                filter: 
                    drop-shadow(0px 0px 1px gold)
                    drop-shadow(0px 0px 5px gold);
            }
        }

        .glowing {
            color: var(--glowing-fill);

            @media (prefers-color-scheme: light) {
                -webkit-text-stroke: rgba(0, 0, 0, 0.5) 1px;
            }
        }

        .years-experience {
            font-size: h.get-font-size(1.5);
        }

        :first-child {
            width: 50%;

            @media (min-width: v.$mobile-breakpoint) {
                width: 33%;
            }
        }
    }
}