@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    height: 100%;
    width: 100%;

    --text-fade-duration: 1s;
    --qm-draw-duration: 1.25s;
}

.question-mark-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        &.erm {
            animation: fade-in var(--text-fade-duration) forwards;
            opacity: 0;
        }

        &.what-did-you-do {
            animation: fade-in var(--text-fade-duration) calc(var(--text-fade-duration) + var(--qm-draw-duration)) forwards;
            opacity: 0;
        }

        font-size: h.get-font-size(1.5);
    }
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        height: auto;
        width: 75%;
        object-fit: contain;

        animation: stamped-in 0.5s calc(var(--text-fade-duration) * 2 + var(--qm-draw-duration)) ease-out forwards;
        opacity: 0;
    }
}

svg path {
    stroke: v.$colorPrimaryInv;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    filter: drop-shadow(2px 2px 1px black);
}

#qm-path {
    stroke-dasharray: 108;
    stroke-dashoffset: 108;
    animation:
        draw-qm var(--qm-draw-duration) var(--text-fade-duration) ease-out forwards,
        fade-fill 0.5s calc(var(--text-fade-duration) + var(--qm-draw-duration)) forwards;
    fill: transparent;
}
@keyframes draw-qm {
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes fade-fill {
    to {
      fill: v.$colorPrimaryInv;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes stamped-in {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    33% {
        opacity: 75%;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}