<div class="container">
  <div class="header">
    <div class="line" [class.expert]="isExpert" [class.adept]="isAdept"></div>
    <div (click)="close()"><mat-icon svgIcon="bottom_panel_close"></mat-icon></div>
    <div class="line" [class.expert]="isExpert" [class.adept]="isAdept"></div>
  </div>
  <mat-dialog-content [style.width]="'100%'">
  @if (!!skill)
  {
    <div style="width: 100%;">
      <app-skill [skill]="skill"></app-skill>
    </div>    
  }
  </mat-dialog-content>
  <mat-dialog-actions>
    
  </mat-dialog-actions>
</div>