@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: v.$colorPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        padding-right: 5%;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: h.darken-color(var(--color-neutral-900), 8);
        border-top: 2px solid v.$colorPrimary;
        border-bottom: 2px solid v.$colorPrimary;

        &.expert {
            background-color: rgba(gold, 0.85);
        }

        mat-icon {
            width: 36px;
            height: 36px;
        }
    }
}