@use '../../../../variables' as v;

:host {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: v.$colorPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 90%;
        height: 42px;
        display: flex;
        justify-content: end;
        align-items: center;

        border-bottom: 1px solid v.$colorPrimaryInv;

        mat-icon {
            width: 36px;
            height: 36px;
        }
    }
}