@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    height: 100%;
    width: 100%;
}

$backgroundLight: rgba(v.$colorPrimaryDark, 10);

.container {
    height: 100%;
    width: 100%;
    background-color: v.$colorPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: light-dark(rgba(0, 0, 0, 0.05), h.darken-color(var(--color-neutral-900), 8));
        border-top: 2px solid v.$colorPrimary;
        border-bottom: 2px solid v.$colorPrimary;

        .line {
            height: 6px;
            width: 45%;
            &.expert {
                background-color: var(--glowing-fill);
                box-shadow: 0 0 8px gold;
            }

            &.adept {
                background-color: var(--silver-fill);
                box-shadow: 0 0 8px silver;
            }
        }

        mat-icon {
            width: 36px;
            height: 36px;
        }
    }
}