@use '../../../../variables' as v;
@use '../../../../helpers' as h;

:host {
    --timeline-width: 12px;
    --timeline-branch-height: 7px;
    --timeline-total-height: 90%;
    --full-branch-height: 60px;
    --fill-color: var(--color-neutral-500);
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: h.get-font-size(1.5);
    margin-bottom: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max(100%, var(--timeline-total-height));
    width: 100%;
    position: relative;
}

.timeline-container {
    width: var(--timeline-width);
    height: var(--timeline-total-height, 90%);
    background-color: v.$colorPrimary;
    border-radius: 9999px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;

    position: relative;

    .timeline {
        position: relative;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: v.$colorHighlight50Opacity;
    }

    .selected-timeline {
        position: absolute;        
        top: 0;
        left: 0;
        width: 100%;
        background-color: v.$colorPrimaryInv;
        filter: brightness(1.1);
        transition: height 0.15s;
        &:not(.is-left) { border-bottom-left-radius: 6px };
        &.is-left { border-bottom-right-radius: 6px; }
    }
}

.branch-container {
    height: var(--timeline-total-height);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .branch {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: var(--full-branch-height);

        padding: 0 calc(var(--timeline-node-badge-size) / 2);
        box-sizing: border-box;

        &.right {
            justify-content: end;
        }

        @media (min-width: v.$mobile-breakpoint) {
            padding: 0 3rem;            
        }

        .timeline-branch-container {
            position: absolute;
            height: var(--timeline-branch-height);
            width: 25%;
            background-color: v.$colorPrimary;
            overflow: hidden;

            @media (min-width: v.$mobile-breakpoint) {
                width: 33%; 
            }

            .timeline-branch {
                position: relative;
                top: 0;
                left: 0;
                height: 100%;
                width: 0%;
                z-index: 5;
                background-color: v.$colorHighlight50Opacity;                

                &.selected-branch {
                    position: absolute;
                    width: 0%;
                    background-color: v.$colorPrimaryInv;
                    z-index: 1;
                    transition: width 0.15s;
                    transition-delay: 0.15s;
                    filter: brightness(1.1);

                    &.extended {
                        width: 100%;
                    }
                }
            }

            &.left {
                right: calc(50% + var(--timeline-width) / 2);
                border-top-left-radius: 9999px;
                border-bottom-left-radius: 9999px;

                .timeline-branch {
                    position: absolute;
                    right: 0;
                    left: auto;
                }
            }

            &.right {
                left: calc(50% + var(--timeline-width) / 2);
                border-top-right-radius: 9999px;
                border-bottom-right-radius: 9999px;
            }
        }

        .timeline-node {
            width: 21%;
            padding: 0.67rem 1rem;
            box-sizing: border-box;
            border: 1px solid v.$colorPrimaryInv;
            border-radius: 6px;

            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            background-image:
                linear-gradient(rgba(0, 0, 0, 0.67) 1px, transparent 1px),
                linear-gradient(to right, rgba(0, 0, 0, 0.67) 1px, transparent 1px);

            background-size: 2px 2px;
            
            transition: box-shadow 0.15s, transform 0.15s, filter 0.15s;
            filter: brightness(0.9);
            transform: scale(1);
            transform-origin: center;

            @media (min-width: v.$mobile-breakpoint) {
                width: 10%;
                padding: 0.67rem 1rem;
                box-sizing: border-box;
            }

            &.focus {
                filter: brightness(1.33);
                
                @media (min-width: v.$mobile-breakpoint) {
                    transform: scale(1.33);
                }
            }

            .image-container {
                height: auto;
                width: 100%;
                object-fit: contain;    

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .badge-icon {
                position: absolute;
                top: calc(var(--timeline-node-badge-size) / -2);
                right: calc(var(--timeline-node-badge-size) / -2);
                border-radius: 9999px;
                overflow: hidden;
                aspect-ratio: 1 / 1;

                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.node-year {
    top: -20%;
    position: relative;
    font-size: h.get-font-size(1.25);

    color: v.$colorPrimary;
    transition: color 0.15s;

    &.selected {
        color: v.$colorPrimaryInv;
    }
    
    &.year-hovered {
        color: v.$colorPrimaryInv;
        opacity: 0.5;

        &.selected {
            opacity: 1;
        }
    }
}

.branch.right .node-year {
    right: 10%;
    @media (min-width: v.$mobile-breakpoint) { right: 15%; }
}

.branch:not(.right) .node-year {
    left: 10%;
    @media (min-width: v.$mobile-breakpoint) { left: 15%; }
}