@use 'variables' as v;

.desktop-only {
    @media (max-width: v.$mobile-breakpoint) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: v.$mobile-breakpoint) {
        display: none !important;
    }
}

@function is-mobile() {
    @return (max-width: v.$mobile-breakpoint) and (orientation: portrait);
}

@function is-not-mobile() {
    @return not is-mobile();
}

@function changeColorLightness($color, $percent) {
    $lightness-change: calc($percent / 100);
    @return oklch(from $color calc(l + $lightness-change) c h);
}

@function darken-color($color, $percent) {
    @return changeColorLightness($color, -$percent);
}

@function lighten-color($color, $percent) {
    @return changeColorLightness($color, $percent);
}

@function get-font-size($target-size) {
    @return calc(var(--base-font-size) * $target-size);
}

@function weaken-inverted-primary($percent) {
    $decimal: calc($percent / 100);
    @return light-dark(rgba(v.$colorPrimaryDark, $decimal), rgba(v.$colorPrimaryLight, $decimal));
}