@use './variables' as v;
@use './helpers' as h;

app-vertical-scroller {   
    .arrow-container .arrow mat-icon svg path {
        fill: v.$colorPrimaryLight;

        @media (min-width: 1024px) and (orientation: portrait) {
            fill: v.$colorPrimaryInv;    
        }    
    }
    
    .item-container mat-icon svg {
        path, circle, polyline, line {
            stroke: v.$colorPrimaryLight;
        }        
    }
}

app-project {
    .content mat-icon svg {
        path,circle, polyline, line {
            stroke: v.$colorPrimaryInv;
        }
    }
}

app-skill-dialog {
    .header {
        &.expert, &.adept {
            mat-icon svg path {
                fill: v.$colorPrimaryDark;
            }            
        }

        mat-icon svg path {
            fill: v.$colorPrimaryInv;
        }        
    }
}

app-project-basic-info {
    .basic-info mat-icon svg path {
        fill: v.$colorPrimaryInv;
    }
}

app-header-menu mat-icon[svgicon="hamburger_menu"] svg path,
app-first-visit-dialog mat-icon svg path {
    fill: v.$colorPrimaryInv;
}

app-first-visit-dialog {
    mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content {
        padding: 0 2rem;
        background-color: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    }
    
    mat-dialog-actions.mat-mdc-dialog-actions.mdc-dialog__actions {
        width: 100%;
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--color-neutral-700);
    }
}

.mat-mdc-menu-panel {
    background: v.$colorPrimary !important;
    color: v.$colorPrimaryInv !important;    
    border-radius: 10px !important;    /* Optional: rounded corners */
    box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important; /* Optional: shadow */
    min-width: 200px !important; /* Optional: minimum width */
    border: 2px solid var(--color-neutral-500) !important;
}

.mat-mdc-menu-item {
    font-size: h.get-font-size(1.25) !important;
    &:not(:last-child) {
        border-bottom: 1px solid var(--color-neutral-700) !important;
    }
}

.mat-mdc-menu-content button mat-icon.menu-icon {
    color: v.$colorPrimaryInv;
}

.cdk-overlay-pane.mat-mdc-dialog-panel.dialog-slide-up {
    animation: slide-up 250ms ease;
    bottom: 0;
    max-width: 100dvw;
    position: absolute !important;

    &.dialog-slide-down {
        animation: slide-down 250ms ease forwards;
    }
}

@keyframes slide-up {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes slide-down {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

app-timeline .timeline-node .badge-icon mat-icon {
    height: var(--timeline-node-badge-size);
    width: var(--timeline-node-badge-size);
    background-color: v.$colorPrimaryLight;
    svg path {
        fill: v.$colorPrimaryDark;
    }
}