$colorPrimaryDark: #191919;
$colorPrimaryLight: #dfdfdf;
$colorPrimary: light-dark($colorPrimaryLight, $colorPrimaryDark);
$colorPrimaryInv: light-dark($colorPrimaryDark, $colorPrimaryLight);

$mobile-breakpoint: 1025px;
$colorHighlight: rgb(24, 50, 133);

:root {
    // colors
    --color-primary-dark: $colorPrimaryDark;
    --color-primary-light: $colorPrimaryLight;
    --color-primary: light-dark($colorPrimaryLight, $colorPrimaryDark);
    --portfolio-stroke-color: $colorPrimaryInv;

    --color-highlight-500: rgb(24, 50, 133);    
    --color-highlight-300: oklch(from var(--color-highlight-500) calc(l + 0.15) c h);
    --color-highlight-100: oklch(from var(--color-highlight-500) calc(l + 0.3) c h);

    --color-highlight-secondary: #668094;
    --color-highlight-tertiary: #99AAB7;

    --color-neutral-900: #333739;
    --color-neutral-800: oklch(from var(--color-neutral-900) calc(l + 0.05) c h);
    --color-neutral-700: #4A5258;
    --color-neutral-500: #d8dadb;
    --color-neutral-400: oklch(from var(--color-neutral-500) calc(l + 0.05) c h);
    --color-neutral-300: #EBEEF1;
    --color-neutral-100: #F3F5F7;

    // fonts
    --body-font-family: 'Inter', sans-serif;
    --header-font-family: 'Space Grotesk', sans-serif; 
    --base-font-size: 1rem;
}