$colorPrimaryDark: #191919;
$colorPrimaryLight: #dfdfdf;
$colorPrimary: light-dark($colorPrimaryLight, $colorPrimaryDark);
$colorPrimaryInv: light-dark($colorPrimaryDark, $colorPrimaryLight);

$mobile-breakpoint: 1025px;
$colorHighlight: rgb(24, 50, 133);

:root {
    // colors
    --color-primary-dark: $colorPrimaryDark;
    --color-primary-light: $colorPrimaryLight;
    --color-primary: light-dark($colorPrimaryLight, $colorPrimaryDark);
    --color-primary-inv: light-dark($colorPrimaryDark, $colorPrimaryLight);
    --portfolio-stroke-color: $colorPrimaryInv;
    
    --color-highlight-500: rgb(24, 50, 133);
    --color-highlight-600: oklch(from var(--color-highlight-500) calc(l - 0.05) c h);
    --color-highlight-400: oklch(from var(--color-highlight-500) calc(l + 0.10) c h);
    --color-highlight-300: oklch(from var(--color-highlight-500) calc(l + 0.25) c h);
    --color-highlight-200: oklch(from var(--color-highlight-500) calc(l + 0.40) c h);
    --color-highlight-100: oklch(from var(--color-highlight-500) calc(l + 0.55) c h);

    --color-highlight-secondary: #668094;
    --color-highlight-tertiary: #99AAB7;

    --color-neutral-900: #333739;
    --color-neutral-800: oklch(from var(--color-neutral-900) calc(l + 0.05) c h);
    --color-neutral-700: #4A5258;
    --color-neutral-600: #6c757b;
    --color-neutral-500: #d8dadb;
    --color-neutral-400: oklch(from var(--color-neutral-500) calc(l + 0.05) c h);
    --color-neutral-300: #EBEEF1;
    --color-neutral-100: #F3F5F7;
    --color-neutral-0: #fff;

    --glowing-fill: rgb(255, 232, 99);
    --silver-fill: rgb(203, 202, 202);

    // fonts
    --body-font-family: 'Inter', sans-serif;
    --header-font-family: 'Space Grotesk', sans-serif; 
    --base-font-size: 1rem;
}