@use 'variables';
@use 'helpers';
@use 'material-overrides';

@import url("https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css");

html, body {
    height: 100%;
    min-height: 100dvh;
    overflow: hidden;
    letter-spacing: 1px;
}

a, .description p span[app-skill], .app-link {
    color: var(--color-highlight-100);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: helpers.lighten-color(variables.$colorHighlight, 40);
    }
}

body {
    background: linear-gradient(to top,
        light-dark(variables.$colorPrimaryLight, variables.$colorPrimaryDark) 70%,
        light-dark(helpers.darken-color(variables.$colorPrimaryLight, 7.5), helpers.lighten-color(variables.$colorPrimaryDark, 5))
    );
    color: light-dark(var(--color-primary-dark), var(--color-primary-light));
    margin: 0;
    width: 100dvw;
    font-family: var(--body-font-family);
    font-size: var(--base-font-size);
}

.header-font, .header-font--regular, .header-font--bold, .header-font--italic, .header-font--bold-italic {    
    font-family: var(--header-font-family);
    font-weight: 400;
    font-style: normal;

    &--bold {
        font-weight: 700;
    }

    &--italic {
        font-style: italic;
    }

    &--bold-italic {
        font-weight: 700;
        font-style: italic;
    }
}

// .description p span[app-skill] {
//     color: var(--color-highlight-100);
//     text-decoration: none;
//     transition: color 0.3s, text-decoration 0.3s;
//     cursor: pointer;

//     &:hover {
//         color: var(--color-highlight-300);
//         text-decoration: underline;
//     }
// }