@use 'variables';
@use 'helpers';
@use 'material-overrides';
@use 'globals';

@import url("https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css");

html, body {
    height: 100%;
    min-height: 100dvh;
    overflow: hidden;
    letter-spacing: 1px;
}

body {
    background: linear-gradient(to top,
        light-dark(variables.$colorPrimaryLight, variables.$colorPrimaryDark) 70%,
        light-dark(helpers.darken-color(variables.$colorPrimaryLight, 7.5), helpers.lighten-color(variables.$colorPrimaryDark, 5))
    );
    color: light-dark(var(--color-primary-dark), var(--color-primary-light));
    margin: 0;
    width: 100dvw;
    font-family: var(--body-font-family);
    font-size: var(--base-font-size);
}