@use 'variables';
@use 'helpers';
@use 'material-overrides';

@import url("https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css");

body {
    background: linear-gradient(to bottom right, var(variables.$colorPrimaryDark), var(--color-primary-500));
    color: light-dark(var(--color-primary-dark), var(--color-primary-light));
    margin: 0;
    width: 100svw;
    height: 100svh;
    font-family: var(--body-font-family);
    font-size: var(--base-font-size);
}

.header-font, .header-font--regular, .header-font--bold, .header-font--italic, .header-font--bold-italic {    
    font-family: var(--header-font-family);
    font-weight: 400;
    font-style: normal;

    &--bold {
        font-weight: 700;
    }

    &--italic {
        font-style: italic;
    }

    &--bold-italic {
        font-weight: 700;
        font-style: italic;
    }
}