<div class="title">Let's Connect</div>
@if (isSuccess() !== true)
{
  @if (isSuccess() === false && !isSending())
  {
    <div class="failure">Something went wrong with your communication. Please try again.</div>
  }
<form [formGroup]="form" (ngSubmit)="sendContact()">
  <div class="form-container">
    @for (formField of formFields; track formField.name)
    {
      <div class="form-field" [class.row]="formField.type === 'checkbox'">
        @if(formField.type !== 'checkbox') 
        { 
          <label [for]="formField.name">{{ formField.label }}
            @if(formField.isRequired) {<span>*</span>}
          </label>
        }
        @if(formField.type !== 'textarea') { <input [formControlName]="formField.name" [id]="formField.name" [type]="formField.type"> }
        @else { <textarea rows="5" [formControlName]="formField.name" [id]="formField.name"></textarea> }
        @if(formField.type === 'checkbox') { <label [for]="formField.name">{{ formField.label }}</label> }
        @let _fieldControl = form.controls[formField.name];
        @if(formField.isRequired)
        {
          @if(formField.name !== 'email') { <span class="error" [class.show]="_fieldControl.touched && _fieldControl.invalid">Required field must be filled out</span> }
          @else { <span class="error" [class.show]="_fieldControl.touched && _fieldControl.invalid">Invalid email address</span> }
        }
      </div>
    }
    <button [class.disabled]="isSending() || form.invalid" [class.is-sending]="isSending()" class="form-field" type="submit">
      @if(!isSending()) { Connect }
      @else { <app-loading-spinner /> }
    </button>
  </div>  
</form>
}
@else
{
<div class="success-container">
  <svg width="250" height="250" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <circle
      cx="50"
      cy="50"
      r="40"
      fill="none"
      stroke="white"
      stroke-width="3"
      stroke-linecap="round"
      stroke-dasharray="252"
      stroke-dashoffset="252"
    >
      <animate
        attributeName="stroke-dashoffset"
        from="252"
        to="0"
        dur="0.8s"
        begin="0s"
        fill="freeze"
        calcMode="spline"
        keySplines="0.4 0 0.2 1"
      />
    </circle>

    <path
      d="M30 50 L45 65 L70 35"
      fill="none"
      stroke="#4CAF50"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-dasharray="60"
      stroke-dashoffset="60"
      visibility="hidden"
    >
      <set attributeName="visibility" to="visible" begin="0.8s" />
      
      <animate
        attributeName="stroke-dashoffset"
        from="60"
        to="0"
        dur="0.5s"
        begin="0.8s"
        fill="freeze"
        calcMode="spline"
        keySplines="0.4 0 0.2 1"
      />
    </path>
  </svg>
  <span>Message successfully sent!</span>
</div>
}